*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.navbar{
  display: flex;
  align-items: center;
  padding: 20px;
}

nav {
 flex: 1;
 text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
 display: inline-block;
 margin-right: 20px;
}

nav ul li a:hover{
  color:#025DA6;
}

a{
 text-decoration:none ;
 color: #555;
 
 }
 
.coupon{
  text-align: centre;

  background: black;
  animation-fill-mode: forwards;
  color: white;
  align-items: center;
}
.couponbar h6 {
  text-align: center;
  margin: 0;
  padding: 0;
}


body{
 font-family: 'Nunito', sans-serif;
}


p{
  color: #555;
}

.container {
 max-width: 1300px;
 margin: auto;
 padding-left: 25px;
 padding-right: 25px;
}

.row{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   justify-content: space-around;
}
 
.col-2{
 flex-basis: 50%;
 min-width: 300px;
} 

.col-2 img{
  max-width: 100%;
  padding: 40px 0;
  padding-bottom: 25px;

}

.col-2 h1{
  font-size: 50px;
   font-style: italic;
  line-height: 60px;
  margin: 25px 0;
  font-family: 'Nunito', sans-serif;
  font-style: oblique;
}

.btn{
 display: inline-block;
 background: #025DA6;
 color:#fff ;
 padding: 8px 30px;
 margin: 30px 0;
 border-radius: 30px;
 transition: background 0.5s;
}
.btn:hover{
	background:#0C2539 ;
}


.header{
 background: radial-gradient(#fff,#D6DBDF);

}

.row .col-2 img{
   animation: float 5s linear infinite;
}
@keyframes float{

  0% 100%{
    transform: translateY(0rem);
  }
  50%{
    transform: translateY(3rem);
  }
}

.header .row{
    margin-top: 70px;
}
.categories{
   margin: 70px 0;
   object-fit: cover;

}

.col-3{
   flex-basis: 30%;
   min-width: 300px;
   margin-bottom: 30px;



}
.col-3 img{
   width: 100%;
}

.col-3:hover{
  transform:translateY(-10px) ;
}

.small-container{
 max-width: 1080px;
 margin: auto;
 padding-left: 25px;
 padding-right: 25px;
}

.col-4{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.3s;
}

.col-4 img{
  width: 100%;
}

.title{
 text-align: center;
 margin: 0 auto 80px;
 position: relative;
 line-height: 60px;
 color:#555 ;
}

.title::after{
  content: '';
  background: #3A6997;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

h4{
  color: #555;
  font-weight: normal;
}
.col-4 p{
  font-size: 14px;
}

.rating {
 color: #FFC500;
}

.col-4:hover{
  transform:translateY(-5px) ;
}

/*------offer----*/

.offer{
    background: radial-gradient(#fff,#DBE7F1);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
  padding: 50px;
  transition: none;
  animation: none;
  flex: none;
}

.col-2 h1{
   font-family: 'El Messiri', sans-serif;

}

small{
color: #555;
}

.testimonial .col-3{
   text-align: center;
   padding: 40px 20px;
   box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
   transition: transform 0.5s;
   background: #F2F7FC;
}
.testimonial .col-3 img{
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}
.testimonial .col-3:hover{
  transform: translateY(-10px);
}
.testimonial h3{
  color: #555;
  font-weight: 600;
   font-size:16px;
}

.testimonial p{
color:#777;
font-size: 12px;
margin: 12px 0;
}

/*----------------brands-------------*/
.brands{
       margin: 100px auto;
}
.col-5{
    width:160px;
}
.col-5 img{
  width: 100%;
 cursor: pointer;
 filter: grayscale(100%);
} 
.col-5 img:hover{
   filter: grayscale(0%);
}

  /*-------footer----------*/

.footer{
   background:#000;
   color: #8a8a8a;
   font-size: 14px;
   padding: 60px 0 20px;
}
.footer p{
   color:#8a8a8a;
}
.footer h3{
  color: #fff;
  margin-bottom: 20px;
}
.footer-col-1, .footer-col-2,.footer-col-3, .footer-col-4{
   min-width: 250px;
   margin-bottom: 20px;
}
.footer-col-1{
   flex-basis: 30%;
}
.footer-col-2{
   flex: 1;
   text-align:center;
}
.footer-col-2 img{
  width: 180px;
  margin-bottom: 20px;
}
.footer-col-3,.footer-col-4{
   flex-basis: 12%;
   text-align: center;
}
ul{
   list-style-type: none;
}
.app-logo{
margin-top: 20px;
}
.app-logo img{
  width: 140px;
}
.footer hr {
   border: none;
   background: #b5b5b5;
   height: 1px;
   margin: 20px 0;
}
.Copyright{
   text-align: center;
}

.menu-icon{
  width: 28px;
  margin-left: 20px;
  display: block;

}

/*-------media quer for menu-----*/

@media onlyscreen and (max-width: 800px){

  nav ul{
    position: absolute;
    top: 70px;
    left: 0;
    background:#333 ;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;

  }

    nav ul li{
      display: inline-block;
      margin-right: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
}

    nav ul li a{
      color:#fff ;

     }
     .menu-icon{
        display: block;
        cursor: pointer;
     }
}

.row-2{
 justify-content: space-between;
 margin: 100px 0 50px;
}

select{
  border: 1px;
  padding: 5px;
}
select:focus{
  outline: none;
}

.page-btn{
  margin: 0 auto 80px;
}

.page-btn a{
  display: inline-block;
  border: 1px solid #546A80;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.page-btn a:hover{
  background : #86A2BE ;
  color:#fff ;
}

/*------single product details-----*/

 .single-product{
  margin-top: 80px;
 }

 .single-product .col-2 img{
      padding: 0px;
      animation: none;
      transition: none;
 }
  .single-product .col-2 {
      padding: 20px;
  }
  .row row-2 a{

    font-style: inherit;
    display: flex 1;
    padding-left: 60px;
    color: #294765;
  }

 .single-product h4{
     margin: 20px 0;
     font-size: 22px;
     font-weight: bold;
 }
 .single-product select{
  display: block;
  padding: 10px;
  margin-top: 20px;
  color:black ;
 }

 .single-product input{
   width: 50px;
   height: 40px;
   padding-left: 10px;
   font-size: 20px;
   margin-right: 10px;
   border: 1px solid #10467B;
 }

input:focus{
  outline: none;
}

.single-product .fa{
 color:#10467B ;
 margin-left: 10px;
}

.small-img-row{
 display: flex;
 justify-content: space-between;

}

.small-img-col{
  flex-basis: 24%;
  cursor: pointer;
}

.single-product h1{
  font-size: 26px;
  line-height: 22px;
}

/*-----cart page-------*/

.cart-page{
   margin: 80px auto;
}
table{
   width: 100%;
   border-collapse:collapse ;
}

.cart-info{
  display: flex;
  flex-wrap: wrap;
}
th{
   text-align: left;
   padding: 5px;
   color: #1F3449;
   background:#E1ECF7 ;
   font-weight: normal;
}
.cart-info a{
   background: none;
   color:#1F3449 ;
   font-size: 12px;
}
td{
  padding: 10px 5px;
}
td input{
width: 40px;
height: 30px;
padding: 5 px;
}
td img{
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.total-price{
  display: flex;
  justify-content: flex-end;
}
.total-price table{
   border-top: 3px solid #104B84;
   width: 100%;
   max-width: 400px;
}
td:last-child{
  text-align: right;
}
th:last-child{
   text-align: right;
}

/*--------account-page--------*/

.account-page{
    padding: 50px 0;
    background: radial-gradient(#fff,#DBE7F1);
}

.form-container{
   background:#fff ;
   width: 300px;
   height: 400px;
   position: relative;
   text-align: center;
   padding: 20px 0;
   margin: auto;
   box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
   overflow: hidden;
}

.form-container span{
  font-weight: bold;
  padding: 0 10px;
  color:#555 ;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}

.form-btn{
  display: inline-block;
}

.form-container form{
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 130px;
  transition: transform 1s;
}
 form input{
   width: 100%;
   height: 30px;
   margin: 10px 0;
   padding: 0 10px;
   border: 1px solid #ccc ;
 }

 form .btn{
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
 }
form .btn:focus{
 outline: none;
}

#LoginForm{
  left: -300px; 
}
#RegForm{
  left: 0;
}
form a{
 font-size: 12px;
}

#Indicator {
  width: 100px;
  border: none;
  background:#2055AE;
  height: 3px;
  margin-top: 8px;
  transform: translateX(100px);
  transition: transform 1s;
}


/*--------Soldes-page--------*/


.soldes-container{
color: #86A2BE;
font-family: 'Nunito', sans-serif;
 max-width: 1080px;
 margin: auto;
 padding-left: 25px;
 padding-right: 25px;
}

















/*------media------*/

@media only screen and (max-width: 600px){
   .row{
        text-align: center;  
  }
  .col-2, .col-3, .col-4{
        flex-basis: 100%;
  }
 
}